@media print {
  div {
    page-break-inside: avoid;
  }
}

.preserveWrodWrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}
.file-btn-right {
  display: flex;
  justify-content: right;
  width: 100%;
}
