/* Navigation Style */
.lightningCard {
  /* --sds-c-card-color-background: #f5f5f5; */
  opacity: 0.5;
  --sds-c-card-sizing-border: 0px;
}

.main {
  height: calc(100vh - (100vh * 20 / 100));
}

.invite-card {
  border-radius: var(--lwc-borderRadiusLarge);
  width: 100%;
  background-color: #3b4eb0;
  margin-top: 5rem;
  color: white;
}

.buttonBase {
  --sds-c-button-text-color: #3b4eb0;
}

.buttonBase:hover {
  --sds-c-button-outline-brand-color-border-hover: white;
  --sds-c-button-outline-brand-color-background-hover: white;
  --sds-c-button-text-color-hover: green;
}

.nav-bar {
  display: block;
}

.nav-bar ul li {
  display: block;
  width: 100%;
  padding: var(--lwc-spacingMedium) var(--lwc-spacingMedium);
  border-radius: var(--lwc-borderRadiusLarge);
}
.nav-bar ul li:hover {
  cursor: pointer;
}

.active-nav {
  background: #18305d;
  color: white;
}

.icon-style {
  --sds-c-icon-color-foreground: #60606a;
  --sds-c-icon-color-background: none;
}

.icon-active-style {
  --sds-c-icon-color-foreground: #ffffff;
  --sds-c-icon-color-background: none;
}
