@font-face {
  /*
        font family is used to give a name to the custom font,
         you use this for referencing the custom font later
    */
  font-family: "mycustomfont";

  /*
        This is the location of the Custom Font, note, I have stored in a ZIP file
     */
  src: url("https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i") format("TrueType");
}
.card-custom-title {
  position: absolute;
  top: -28px;
  left: 10px;
  background: green;
  padding: 3px 10px;
  text-transform: uppercase;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}
.position-relative {
  position: relative;
}

.card-color {
  background: antiquewhite;
}
.category-section {
  position: relative;
}
.categorybtn {
  position: absolute;
  bottom: -20px;
  border-radius: 24px;
  border: 1px solid black !important;
}
.sub-category {
  font-size: 16px !important;
}

.outer-card {
  background: #31769c;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
  border: 1px solid white;
  color: white;
}
